Repository nmibragimov7/react-lerna: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_main, trigger_client

.gitlab-ci.yml:

stages:
  - install
  - triggers

install_deps:
  tags:
    - kube-build
  stage: install
  image: reg.1cb.kz/dockerhub/library/node:16.17.1-alpine3.15
  artifacts:
    paths:
      - node_modules
    expire_in: 15 minute
  script:
    - npm i

trigger_main:
  stage: triggers
  trigger:
    include: packages/main/.gitlab-ci.yml
  only:
    changes:
      - "packages/main/**/*"
    refs:
      - lerna

trigger_client:
  stage: triggers
  trigger:
    include: packages/client/.gitlab-ci.yml
  only:
    changes:
      - "packages/client/**/*"
    refs:
      - lerna

fix: fix gitlab-ci
  .gitlab-ci.yml
  packages/client/.gitlab-ci.yml
  packages/main/.gitlab-ci.yml
Due: trigger_main, trigger_client

+fix
  .gitlab-ci.yml
  packages/client/.gitlab-ci.yml
  packages/client/Dockerfile
  packages/main/.gitlab-ci.yml
  packages/main/Dockerfile
Due: trigger_main, trigger_client

+fix
  packages/client/Dockerfile
  packages/main/Dockerfile
Due: trigger_main, trigger_client

+fix
  packages/client/.gitlab-ci.yml
  packages/main/.gitlab-ci.yml
Due: trigger_main, trigger_client

+fix
  packages/client/.gitlab-ci.yml
  packages/client/Dockerfile
  packages/main/.gitlab-ci.yml
  packages/main/Dockerfile
Due: trigger_main, trigger_client

+fix
  packages/main/Dockerfile
Due: trigger_main

+fix
  .gitlab-ci.yml
Due: none

+fix
  packages/client/k8s/deployment.yml
  packages/client/k8s/ingress.yml
  packages/client/k8s/service.yml
  packages/main/k8s/deployment.yml
  packages/main/k8s/ingress.yml
  packages/main/k8s/service.yml
Due: trigger_main, trigger_client

+fix
  nginx.conf
  packages/client/.gitlab-ci.yml
  packages/client/Dockerfile
  packages/client/k8s/deployment.yml
  packages/client/k8s/ingress.yml
  packages/client/k8s/service.yml
  packages/main/.gitlab-ci.yml
  packages/main/Dockerfile
  packages/main/k8s/deployment.yml
  packages/main/k8s/ingress.yml
  packages/main/k8s/service.yml
  packages/main/nginx.conf
Due: trigger_main, trigger_client

+fix
  .gitlab-ci.yml
  Dockerfile
  k8s/deployment-client.yml
  k8s/deployment-main.yml
  k8s/ingress-client.yml
  k8s/ingress-main.yml
  k8s/service-client.yml
  k8s/service-main.yml
  yarn.lock
Due: none

+fix
  .gitlab-ci.yml
  k8s/deployment-client.yml
  k8s/deployment-main.yml
  k8s/ingress-client.yml
  k8s/ingress-main.yml
  k8s/service-client.yml
  k8s/service-main.yml
Due: none

+fix
  .gitlab-ci.yml
  Dockerfile
Due: none

+fix
  Dockerfile
Due: none

+fix deploy
  .gitlab-ci.yml
Due: none

+fix deploy with trigger
  .gitlab-ci.yml
  Dockerfile
  k8s/deployment-main.yml
  k8s/ingress-main.yml
  k8s/service-client.yml
  packages/main/.gitlab-ci.yml
  packages/main/Dockerfile
  packages/main/k8s/deployment-main.yml
  packages/main/k8s/ingress-main.yml
  packages/main/k8s/service-main.yml
  yarn.lock
Due: trigger_main

+fix deploy with trigger
  .gitlab-ci.yml
Due: none

+fix deploy with trigger
  packages/main/.gitlab-ci.yml
Due: trigger_main

+fix deploy with trigger
  .gitlab-ci.yml
  packages/main/.gitlab-ci.yml
  packages/main/Dockerfile
Due: trigger_main
